<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scraping Progress</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>

<body>
    <div id="status">Status:</div>
    <div id="mangaWorking">[MANGA:WORKING]: None</div>
    <div id="chapterDone">[CHAPTER:DONE]: None</div>
    <div id="mangasDone">[MANGA:DONE]:</div>
    <div id="mangasError">[MANGA:ERROR]:</div>
</body>

</html>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const statusDiv = document.getElementById("status");
        const mangaWorkingDiv = document.getElementById("mangaWorking");
        const chapterDoneDiv = document.getElementById("chapterDone");
        const mangasDoneDiv = document.getElementById("mangasDone");
        const mangasErrorDiv = document.getElementById("mangasError");

        // Establish the WebSocket connection
        const socket = new SockJS('https://scraper.kanbancoders.com/ws'); // Replace with your server's URL
        const stompClient = Stomp.over(socket);

        stompClient.connect({}, function(frame) {
            console.log('Connected: ' + frame);

            // Subscribe to progress updates from the server
            stompClient.subscribe('/topic/progress', function(progressMessage) {
                let message = progressMessage.body;

                if (message.includes("[MANGA : WORKING]")) {
                    mangaWorkingDiv.textContent = "[MANGA:WORKING]: " + message.replace("[MANGA : WORKING]: ", "");
                } else if (message.includes("[MANGA : DONE]")) {
                    mangasDoneDiv.innerHTML += "<li>" + message.replace("[MANGA : DONE]: ", "") + "</li>";
                } else if (message.includes("[CHAPTER : DONE]")) {
                    chapterDoneDiv.textContent = "[CHAPTER:DONE]: " + message.replace("[CHAPTER : DONE]: ", "");
                } else if (message.includes("[MANGA : ERROR]")) {
                    mangasErrorDiv.innerHTML += += "<li>" + message.replace("[MANGA : ERROR]: ", "") + "</li>";
                } else if (message.includes("STATUS")) {
                    statusDiv.textContent = "Status: " + message.split(":")[1]
                }
            });
        }, function(error) {
            console.log('STOMP error ' + error);
        });
    });
</script>
